* {
    margin: 0px;
    padding: 0px;
    font-family:"Poppins";
}

#navbar {
    background-color: whitesmoke;
    font-family: "Poppins";
}
#navLogo{
    height: 30px;
    width: auto;
}
#navContent {
    margin-left: 120px;
}
#links {
    padding-left: 700px;
    font-weight: bold;
}
#content {
    margin-top: 120px;
}
#contentLogo {
    margin-left: 15px;
    height: 60px;
    width: auto;
    
}
#contentImg {
    height: 480px;
    width: 480px;
    margin-right: 20px;
    margin-top: -50px;
}
#contentTxt {
    padding-top: 50px;
    font-family: "Poppins";
    text-align: justify;
}

#contentButtons {
    justify-content: space-between;
    margin-top: 30px;
}
#buy {
    color: white;
    font-weight: bold;
}
#viewMore {
    border: none;
    color:rgba(0, 176, 139, 1) ;
    background-color: white;
    font-weight: bold;
}
#infoBox {
    margin-top: 250px;
    height: 550px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 176, 139, 1);
}
#howWeWork {
    text-align: center;
    font-family: "Poppins";
    color: white;
    padding-top: 30px;
}
#info{
    display: flex;
}
#terraIcone {
    padding-left: 145px;
    padding-bottom: 15px;
    font-size: 40px;
}
#ingredientes {
    font-family: "Poppins";
    color: white;
    padding-top: 50px;
    
}
#sorveteIcone {
    padding-left: 145px;
    padding-bottom: 15px;
    font-size: 40px;
}
#elaboracao {
    font-family: "Poppins";
    color: white;
    padding-top: 50px;
}
#saudeIcone {
    padding-left: 145px;
    padding-bottom: 15px;
    font-size: 40px;
}
#compromisso {
    font-family: "Poppins";
    color: white;
    padding-top: 50px;

}
#saibaMais {
    font-family: "Poppins";
    text-align: center;
    margin-top: 120px;
    height: 400px;
}
#saibaMais-button {
    margin-top: 25px;
    font-weight: bolder;
}
#delicias {
    display: flexbox;
    height: 600px;
}
#delicia1 {
    height: 500px;
    width: auto;
    margin-left: 180px;
}
#delicia2 {
    height: 500px;
    width: auto;
    margin-right: 180px;
}
#feedback {
    display: flexbox;
    justify-content: center;
    font-family: "Poppins";
    height: 600px;
    border-radius: 10px;
    background-color: rgba(0, 176, 139, 1);
}
#feedbackImg {
    height: 480px;
    width: auto;
    margin-right: 20px;
    margin-top: 50px;
}
#feedbackTxt {
    color: white;
    text-align: center;
    padding-top: 100px;
}
#clientFeedback {
    text-align: center;
    font-weight:bold;
    color: white;
    padding-top: 80px;
}
#perguntasFrequentes {
    margin-top: 120px;
    text-align: center;
}
#perguntas {
    margin-left: 250px;
    width: 800px;
}
#flush-collapseOne {
    text-align: left;
}
#flush-collapseTwo {
    text-align: left;
}
#flush-collapseThree {
    text-align: left;
}
#duvidas {
    margin-top: 100px;
    height: 300px;
}